@import "tailwindcss";

@theme {
  --color-primary: #0084FF;
  --color-primary-hover: #0074e0;
  --color-bg: #101418;
  --color-surface: #1d2226;
  --color-surface-hover: #23292e;
  --color-card: #2d3339;
  --color-input: #26292D;
  --color-border: #334155;
  --color-border-light: #64748b;
  --color-text-strong: #f1f5f9;
  --color-text-muted: #8c959f;
  --color-text-secondary: #5B6B80;
  --color-text-gray: #B3BDCA;
  --color-placeholder: #878E98;
  --color-success: #70E38E;
  --color-error: #FF8A84;
  --color-orange: #ffb347;
  --color-yellow: #FFD166;
  --color-auth-blue: #2563eb;
  --color-auth-blue-hover: #3b82f6;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #f1f5f9;
  background-color: #101418;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
